<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhl.cnnblogs.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dhl.cnnblogs.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="jointime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="instroduction" jdbcType="VARCHAR" property="instroduction" />
    <result column="imagepath" jdbcType="VARCHAR" property="imagepath" />
  </resultMap>
</mapper>